<div>
  <div>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="d-flex flex-row my-0 justify-content-start">
        <!-- <button class="btn btn-lg btn-dark" type="button">
            <i class="fas fa-bars"></i>
        </button> -->
        <label class="p-2 d-none d-block vp-cs5610-course-list-span my-0">
          Courses
        </label>
      </div>
    </nav>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <a routerLink="/table/courses" class="btn btn-link text-dark"><i class="fas fa-th"
                                                                     title="Grid View"></i></a>
  </div>

  <div>
    <table class="table table-striped vp-cs5610-table-layout">

      <thead>
      <tr>
        <th scope="col">
          Title
        </th>
        <th scope="col">

        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let eachCourse of courses">
        <!--<a routerLink="/{{layout}}/courses/{{eachCourse._id}}/modules">
          <td scope="col">
            <i class="fas fa-book mt-1 text-dark"></i>
            {{eachCourse.courseTitle}}
          </td>
        </a>
        <a routerLink="/{{layout}}/courses/{{eachCourse._id}}/quizzes">
          <td scope="col">
            {{eachCourse.courseTitle}}
          </td>
        </a>-->
        <td scope="col" routerLink="/{{layout}}/courses/{{eachCourse._id}}/modules">
          <i class="fas fa-book mt-1 text-dark"></i>
          <span class="btn btn-link">{{eachCourse.courseTitle}}</span>
        </td>
        <td scope="col" routerLink="/{{layout}}/courses/{{eachCourse._id}}/quizzes">
          <span class="btn btn-link" >Quizzes</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <p>course-table works!</p>
<ul>
    <li *ngFor="let eachCourse of courses">
        <a routerLink="/table/courses/{{eachCourse._id}}/modules">
            {{eachCourse.courseTitle}}
        </a>
    </li>
</ul> -->
