<div>
  <div>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <span class="vp-cs5610-quizzes-list-span text-white">
        {{quizTitle}}
      </span>
      <span class="ml-5 text-white btn btn-link"
            routerLink="/{{layout}}/courses/{{courseId}}/quizzes">All Quizzes</span>
      <span class="ml-5 text-white btn btn-link" routerLink="/{{layout}}/courses">Courses</span>
      <span class="ml-5 text-white btn btn-link" routerLink="/">Home</span>
    </nav>
  </div>
  <div class="container">
    <ul class="list-group">
      <li *ngFor="let eachQuestion of questions" class="list-group-item"
          [ngSwitch]="eachQuestion.type">
        <app-true-false-question [question]="eachQuestion" *ngSwitchCase="'TRUE_FALSE'"></app-true-false-question>
        <app-multiple-choice-question
          [question]="eachQuestion" *ngSwitchCase="'MULTIPLE_CHOICE'"></app-multiple-choice-question>
      </li>
    </ul>
  </div>
</div>
