<div>
  <div>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <span class="vp-cs5610-quizzes-list-span">
        Quizzes
      </span>
      <span class="ml-5 text-white btn btn-link" routerLink="/{{layout}}/courses">Courses</span>
      <span class="ml-5 text-white btn btn-link" routerLink="/">Home</span>
    </nav>
  </div>
  <div class="container">
    <ul class="list-group mt-4">
      <li *ngFor="let eachQuiz of quizzes" class="list-group-item">
        <div class="mb-4">
          <a routerLink="/{{layout}}/courses/{{courseId}}/quizzes/{{eachQuiz._id}}">
            {{eachQuiz.title}}
          </a>
          <a class="btn btn-primary float-right"
             routerLink="/{{layout}}/courses/{{courseId}}/quizzes/{{eachQuiz._id}}">
            Start
          </a>
        </div>
        <div class="" *ngFor="let attemptArray of attempts">
          <ul class="list-group" *ngFor="let eachAttempt of attemptArray; let i=index">
            <li class="alert-warning list-group-item" *ngIf="eachAttempt.quizzes._id === eachQuiz._id">
              Attempt {{i+1}} - Score: {{eachAttempt.score}} %
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
